<div class="top-about center-block bg-light py-5">
  <div class="col-lg-6 offset-lg-3 mt-2">
    <h3 class="text-center mb-4 border-bottom pb-3">「飯テロ」とは</h3>
    <p class="px-5">「飯テロ」とは、美味しそうな料理の画像や情報を他の人に見せることで、食欲を刺激し、食べたくなる気持ちを生み出す行為のことを指します。(抜粋： ChatGPT)<br></p>
    <p class="px-5">こんな時の鉄板メニューが「なんでもいい飯メニュー」です！<br>
    メニューの記録・共有から鉄板メニューを増やし、悩みの種からも解放されよう！
    </p>
  </div>
</div>
<div class="top-content center-block pt-5 pb-3">
  <div class="col-lg-6 offset-lg-3 mt-2">
    <h3 class="text-center mb-4 border-bottom pb-3">使い方</h3>
    <div class="card mb-5 p-5">
    <h4 class="text-center card-title mb-3 border-bottom pb-3">投稿する</h4>
    <p> <font color="#ff0000">「新メニュー作成」</font> からメニューを投稿しよう！<br>
    食べたいタイミングやこだわりなどを記録しておくとメニュー決めに役立つかも！</p>
    </div>
    <div class="card mb-5 p-5">
    <h4 class="text-center card-title mb-3 border-bottom pb-3">送り相手を選ぶ</h4>
    <p>色んなメニューを見て、食べたいメニューが閃くきっかけにしよう！<br>
    食べるメニューを決めたら<b><font color="green">「食べる」</font></b>ボタンを押して記録を作ろう！</p>
    </div>
    <div class="card mb-2 p-5">
    <h4 class="text-center card-title mb-3 border-bottom pb-3">飯がLINEに届く！</h4>
    <p><font color="#ff0000">マイページ</font>で自分の投稿メニューや<b><font color="green">「食べる」</font></b>履歴をチェック！<br>
    過去の自分の食事傾向から何でもいい飯メニューを見つけよう</p>
    </div>
  </div>
</div>
<div class="top-bootom center-block bg-light">
  <div class="mt-3 py-5">
    <div class="col-lg-6 offset-lg-3">
      <h3 class="text-center mb-4 border-bottom pb-3">早速使ってみる</h3>
      <div class="text-center mb-3">

    </div>
  </div>
</div>
