<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5">プロフィール</h1>
      <%= link_to '編集', '#', class: 'btn btn-success float-right' %>
      <table class="table">
        <tr>
          <th scope="row">メールアドレス</th>
          <td>メールアドレス</td>
        </tr>
        <tr>
          <th scope="row">氏名</th>
          <td>氏名</td>
        </tr>
        <tr>
          <th scope="row">アバター</th>
          <td>アバター</td>
        </tr>
      </table>
    </div>
  </div>
</div>
