<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <form>
      <label for="comment_body">コメント</label>
      <textarea class="form-control mb-3" row="4" placeholder="コメント"></textarea>
      <input type="submit" name="commit" value="投稿" class="btn btn-primary" />
    </form>
  </div>
</div>
