<header class="sticky-top">
  <nav class="navbar navbar-expand navigation">

    <%= link_to t('defaults.app_name'), root_path, class: 'navbar-brand ms-5' %>


    <div class="ms-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center me-3">
        <li class="me-3">
          <a href="https://lin.ee/zckTAAt"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
