<footer class="fixed-bottom">
  <nav class='navbar navbar-expand navigation navbar-light bg-light'>
    <div class='container-fluid'>
      <ul class='navbar-nav d-flex justify-content-center main-nav align-items-center w-100'>
        <li class='nav-item flex-grow-1 text-center'>
          <%= link_to t('defaults.index'), posts_path, class: 'dropdown-item' %>
        </li>
        <li class='nav-item flex-grow-1 text-center'>
          <%= link_to t('posts.new.title'), new_post_path, class: 'dropdown-item' %>
        </li>
        <li class='nav-item flex-grow-1 text-center'>
          <%= link_to t('posts.received.title'), received_posts_path, class: 'dropdown-item' %>
        </li>
        <li class='nav-item flex-grow-1 text-center'>
          <%= link_to t('posts.scheduled.title'), scheduled_posts_path, class: 'dropdown-item' %>
        </li>
      </ul>
    </div>
  </nav>
</footer>
