<% assign_meta_tags title: t('.title') %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= render 'search_form', url: bookmarks_posts_path  %>
    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @bookmark_posts.present? %>
          <%= render @bookmark_posts %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <!--ページネーション-->
      <div class="row">
        <div class="col-12">
          <%= paginate @bookmark_posts %>
        </div>
      </div>
    </div>
  </div>
</div>
