<% content_for(:title, t('.title')) %>
<div class="container pt-3">

  <!-- 投稿一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @received_posts.present? %>
          <%= render @received_posts %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <!-- ページネーション -->
      <div class="row">
        <div class="col-12">
          <%= paginate @received_posts %>
        </div>
      </div>
    </div>
  </div>
</div>
