<% assign_meta_tags title: t('posts.index.title') %>
<div class="container pt-3">

  <%= render 'index_header' %>
  <br>

  <!-- 投稿一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <!-- ページネーション -->
      <%= render 'pagination', posts: @posts %>
    </div>
  </div>
</div>
