header {
  background-color: #FFA500;
}

a.nav-item.flex-grow-1.text-center {
  text-decoration: none;
  color: #333;
}

.line_login_button {
  background-color: #00B900;
  color: white;
}

.line_login_button:hover {
  background-color: #008800;
  color: white;
  opacity: 0.9;
}
