.grow-on-hover {
  transition: transform 0.3s ease-in-out;
  /* アニメーションの速度を調整 */
}

.grow-on-hover:hover {
  transform: scale(1.03);
  /* ホバー時の大きさを設定 */
}

.tag-dropdown {
  position: absolute;
  top: 100%;
  /* 入力欄の直下に配置 */
  left: 0;
  /* 左端に揃える */
  right: 0;
  /* 右端に揃える */
  width: auto;
  /* 必要な幅だけ取る */
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  z-index: 1000;
}

.tag-dropdown li {
  cursor: pointer;
}
