.top-wrapper {
  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    z-index: 1;
  .app_title {
      color: white;
      text-shadow:
        -2px -2px 0px #FFA500,
          /* top left */
          2px -2px 0px #FFA500,
          /* top right */
          -2px 2px 0px #FFA500,
          /* bottom left */
          2px 2px 0px #FFA500;
    }

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }
  }
}

#slideshow {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.underline_none {
  text-decoration: none;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 1s;
}

.slide:not(.active) img {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  #slideshow {
    height:   100vh;
  }
}

